*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --pet-container-height: 30vh;
    --pet-container-width: 230px;
}

main {
    height: 100%;
}

.search {
    display: grid;
    grid-gap: 2rem;
    margin-top: 5rem;
    grid-template-columns: repeat(auto-fill, minmax(var(--pet-container-width), 1fr));
}

.active {
    width: 50%;
    height: 50%;
}

.pet {
    height: var(--pet-container-height);
    min-width: var(--pet-container-width);
    display: grid;
    grid-template-rows: 60% 40%;
    background: rgba(245, 245, 245, 0.467);
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 4px 3px 4px grey;
    overflow: hidden;
}

.pet:hover {
    box-shadow: 4px 3px 4px rgb(74, 49, 173);
    transform: rotate(.5deg);
}

.pet-photo-container {
    background: black;
    height: 100%;
    width: 100%;
    border: 3px solid white;
}

.pet-photo {
    height: 100%;
    width: 100%;
    place-self: center;
    object-fit: contain;
}

.pet-info {
    display: grid;
    grid-template-rows: .3fr 1fr;
    justify-items: center;
    border: 3px solid white;
    height: 100%;
}

.pet-info h1 {
    font-size: 1.2rem;
    margin-bottom: 0;
}

.pet-info h2 {
    font-size: .8rem;
    margin: 0;
    padding-inline: .7rem;
    align-self: center;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}